<h2>Create New Landmark</h2>

<form method="post" action="/landmarks">
  <label for="landmark_name">Name: </label> 
    <input id="landmark_name" name="landmark[name]" type="text"></input><br>
  <label for="landmark_year_completed">Year Completed: </label>
    <input id="landmark_year_completed" name="landmark[year_completed]" type="text"></input><br>
  <input type="submit" value="Create New Landmark">
</form>


<br>
<br>
<strong> <a class="button" href="/landmarks">Landmarks</a> </strong> <br>
<strong> <a class="button" href="/">Home</a> </strong>
